
.top-menu-expanded{
    position:absolute;
   
    z-index:50;
    right:0px;
    padding-left: 25px;
    background-color: white;
    display:flex;
    flex-direction: column;
    li{
      padding: 20px 0;
      border-bottom: 1px inset;
      width: 100%;
    }
    .phone_menu_header{
      width:100%;
      display:flex;
      justify-content: start;
      padding:10px 0px;
      border-bottom: 1px inset;
    }
}

.header{
  z-index:100!important;
  width:100vw
}
.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 49;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0s linear 0.3s;
}
.toggle-content{
  display:block;
}
.menu-expanded .menu-overlay {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s; 
  width:100vw;
  height:100%;
}
.header-shadow {
    box-shadow: 0px 6px 40px 0px rgba(0, 0, 0, 0.08); 
  }

.phone_shadow{
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); 
}
  .inside-circle-shadow{
    box-shadow: 4px 6px 16px 0px #00000059;

    .outside-circle-shadow{
      box-shadow: 0px 0px 16px 0px #00000059;

    }
  }
  .like_shadow{
    box-shadow: 0px 8px 40px 0px #00000026;

  }
  .border_gradient{
    border-image: linear-gradient(to right, #2891CC, #0A9949) 1;
  }
  .shadow_bottom_page{
    backdrop-filter: blur(200px)

  }
  @media(min-width: 360px){
    .top-menu-expanded{
      top:60px;
      width:100%
    }
  }
  @media(min-width: 768px){
    .top-menu-expanded{
      top:81px;
      width:50%
    }
  }
  
  @media(min-width: 1024px){
    .top-menu-expanded{
      top:81px;
      width:50%
    }
  }
 
  @media(min-width: 0px){
    .section_banner-text{
      margin-left: 15px;
    }
  }
  
  @media(min-width: 1280px){
    .section_banner-text{
      margin-left: 30px;
    }
  }
  @media(min-width: 1280px){
    .section_banner-text{
      margin-left: 45px;
    }
  }
 
  
  @media(min-width: 1920px){
    .section_banner-text{
      margin-left: 100px;
    }
  }


  
@media (min-width: 350px){
  .text_vaccination{
    padding-right:0px;
  }
}
@media (min-width: 1280px){
  .text_vaccination{
    width:450px;
  }
}
@media (min-width: 1536px){
  .text_vaccination{
    width:500px;
  }
}
@media (min-width: 1820px){
  .text_vaccination{
    width:500px;
  }
}

@media (min-width: 1536px){
  .vaccination_left{
    margin-left: 200px;
  }
}
@media (min-width: 1820px){
  .vaccination_left{
    margin-left: 248px;
  }
}
.customer-benifits_text{
  p{
    line-height: 20px;
  }
}
.shawdow_btn_phoneCustomer{
  box-shadow: 0px 8px 16px 0px rgba(229, 119, 9, 0.35);

}
.shadow_table{
  box-shadow: 8px 12px 40px 0px #0000001A;

}
.header_menu{
  li {
    cursor: pointer;
    font-weight: 700;
    font-size: 13px;
    color: #252525;
    transition: color 0.3s ease-in-out;
    position: relative;
    
    
  }
}
@media (min-width: 1536px) {
    .header_menu li {
        font-size: 16px;
        line-height:19px;
    }
}

.header_menu{

li:hover {
  background-clip: text;
  background-image: linear-gradient(to bottom, #4EBEFF, #0679BB);
  color: transparent;
  transition: color 0.3s ease-in-out, background-image 0.3s ease-in-out;
}

}


.header_menu li::after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 0;
  width: 0;
  background-image: linear-gradient(to bottom, #4EBEFF, #0679BB) !important;
  transition: width 0.3s ease-in-out, height 0.3s ease-in-out;

}

@media (min-width: 1280px) {
  .header_menu li::after {
    bottom: -31px;
    border-top-left-radius: 0.094rem;
    border-top-right-radius: 0.094rem;
    height: 0.25rem;
  }
}

.header_menu li:hover::after {
    width: 50%;
}
:root {
  --swiper-pagination-bullet-width: 17px;
  --swiper-pagination-bullet-height: 7px;
  --swiper-pagination-bullet-background: #EBEBEB;
  --swiper-pagination-bullet-border-radius: 3.5px;
  --swiper-pagination-color: #E57709; 
  --swiper-pagination-bullet-active-width: 61px!important;
}
.swiper-pagination-bullet {
  width: 17px; 
  height: 7px;
}
.swiper-pagination-bullet-active  {
  width: 61px!important;
  width: var(--swiper-pagination-bullet-active-width) !important;
 
}
.swiper-slide-img {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide-img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius:15px;
}
.swiper-pagination{
  bottom:10px;
}




@media (min-width:640px){
  .button.active {
    width:61px;
  }
 
  .btn_slider{
    width:17px;
    margin: 0 5px;
  }
}
// slider comment

/* .swiper-container-cmt {
  width: 100%;
  height: auto;
  padding: 20px;
}

.swiper-slide-cmt {
  max-width:448px;
  text-align: left;
  font-size: 16px;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 24px;
  border-radius: 15px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.cus_info img {
  display: block;
  width: 68px;
  height: 68px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}
.swiper-slide-cmt p{
  max-width:400px;
} */

// btn cmt
#btn_tabline{
  width:126px;
  display:flex;
  justify-content:space-between;
}
.tabline_item.button {
  width: 17px;
  border-radius: 3.5px;
  background-color: #EBEBEB;
  margin: 0 3px;
  cursor: pointer;
}

.tabline_item.active-cmt {
  background-color: #E57709;
  width: 61px; 
}

.border-gradient-doctor {
  background-clip: padding-box, border-box;
  border: 2px dashed transparent;  
  background-image: linear-gradient(#4CAF50, #4CAF50), linear-gradient(to right, #ff7e5f, #feb47b);
}
.shadow_note_customer{
  box-shadow: 0px 8px 48px 0px #2891CC33;

}
.shadow_offers_icon{
  box-shadow: 0px 10px 24px 0px #2891CC80;

}
// hover info_doctor
.info_doctor_container{
  position:relative;
  transition: transform 0.3s ease;
}
.info_doctor{
  position:absolute;
  bottom:-17%;
  left:0;
  right:0;
  transition: transform 0.3s ease;
  .rate_info_doctor{
    display:none;
   
  }
}
.info_doctor_container:hover {
  box-shadow: 40px 150px 50px rgba(0, 0, 0, 0.1)
}
.info_doctor_container:hover .info_doctor{
  bottom: -35%;
  .rate_info_doctor{
    display:flex;
    flex-direction:column;
   
  }
}

.swiper-container.swiper.info_doctor_swiper{
  width:93%;
  height:500px;
}
@media (min-width:1536px){
  .swiper-container.swiper.info_doctor_swiper{
    width:73.33%;
  }
}
.swiper-wrapper.info_doctor_wrapper{
  width: 100%;
  display:flex;
  justify-content:space-between;
  gap: 32px;
}
.swiper-slide.info_doctor_container{
  width:328px!important;
  max-width:328px!important;
  margin-right:0px!important;
  height:382px;
}

/// arrow messeage
.arrow-mess{
  .arrow {
    position: absolute;
    top: 50%;
    right: -00px;
    margin-top: -5px; 
    width: 90px;
    height: 10;
    border-left: 10px solid white;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
}
}