
.top-menu-expanded{
    position:absolute;
   
    z-index:50;
    right:0px;
    padding-left: 25px;
    background-color: white;
    display:flex;
    flex-direction: column;
    li{
      padding: 20px 0;
      border-bottom: 1px inset;
      width: 100%;
    }
    .phone_menu_header{
      width:100%;
      display:flex;
      justify-content: start;
      padding:10px 0px;
      border-bottom: 1px inset;
    }
}

.header{
  z-index:100!important;
  
}
.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 49;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0s linear 0.3s;
}
.toggle-content{
  display:block;
}
.menu-expanded .menu-overlay {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s; 
  width:100vw;
  height:100%;
}
.header-shadow {
    box-shadow: 0px 6px 40px 0px rgba(0, 0, 0, 0.08); 
  }
  .shadow-text-res{
    box-shadow: 0px 8px 16px 0px #E5770959;

  }
  .button_text_hover:hover{
    box-shadow: 0px 8px 16px 0px #E5770959;

  }

.phone_shadow{
  box-shadow: 0px 8px 16px 0px #E5770959;

}
  .inside-circle-shadow{
    box-shadow: 4px 6px 16px 0px #00000059;

    .outside-circle-shadow{
      box-shadow: 0px 0px 16px 0px #00000059;

    }
  }
  .like_shadow{
    box-shadow: 0px 8px 40px 0px #00000026;

  }
  .border_gradient{
    border-image: linear-gradient(to right, #2891CC, #0A9949) 1;
  }
  .shadow_bottom_page{
    backdrop-filter: blur(200px)

  }
  @media(min-width: 360px){
    .top-menu-expanded{
      top:60px;
      width:100%
    }
  }
  @media(min-width: 768px){
    .top-menu-expanded{
      top:81px;
      width:50%
    }
  }
  
  @media(min-width: 1024px){
    .top-menu-expanded{
      top:81px;
      width:50%
    }
  }
 
  @media(min-width: 0px){
    .section_banner-text{
      margin-left: 15px;
    }
  }
  
  @media(min-width: 1280px){
    .section_banner-text{
      margin-left: 30px;
    }
  }
  @media(min-width: 1280px){
    .section_banner-text{
      margin-left: 45px;
    }
  }
 
  
  @media(min-width: 1920px){
    .section_banner-text{
      margin-left: 100px;
    }
  }


  
@media (min-width: 350px){
  .text_vaccination{
    padding-right:0px;
  }
}
@media (min-width: 1280px){
  .text_vaccination{
    width:450px;
  }
}
@media (min-width: 1536px){
  .text_vaccination{
    width:500px;
  }
}
@media (min-width: 1820px){
  .text_vaccination{
    width:500px;
  }
}

@media (min-width: 1536px){
  .vaccination_left{
    margin-left: 200px;
  }
}
@media (min-width: 1820px){
  .vaccination_left{
    margin-left: 248px;
  }
}
.customer-benifits_text{
  p{
    line-height: 20px;
  }
}
.shawdow_btn_phoneCustomer{
  box-shadow: 0px 8px 16px 0px rgba(229, 119, 9, 0.35);

}
.shadow_table{
  box-shadow: 8px 12px 40px 0px #0000001A;

}
.header_menu{
  li {
    cursor: pointer;
    font-weight: 700;
    font-size: 13px;
    color: #252525;
    transition: color 0.3s ease-in-out;
    position: relative;
    
    
  }
}
@media (min-width: 1536px) {
    .header_menu li {
        font-size: 16px;
        line-height:19px;
    }
}

.header_menu{

li:hover {
  background-clip: text;
  background-image: linear-gradient(to bottom, #4EBEFF, #0679BB);
  color: transparent;
  transition: color 0.3s ease-in-out, background-image 0.3s ease-in-out;
}

}


.header_menu li::after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 0;
  width: 0;
  background-image: linear-gradient(to bottom, #4EBEFF, #0679BB) !important;
  transition: width 0.3s ease-in-out, height 0.3s ease-in-out;

}

@media (min-width: 1280px) {
  .header_menu li::after {
    bottom: -31px;
    border-top-left-radius: 0.094rem;
    border-top-right-radius: 0.094rem;
    height: 0.25rem;
  }
}

.header_menu li:hover::after {
    width: 50%;
}
:root {
  --swiper-pagination-bullet-width: 17px;
  --swiper-pagination-bullet-height: 7px;
  --swiper-pagination-bullet-background: #EBEBEB;
  --swiper-pagination-bullet-border-radius: 3.5px;
  --swiper-pagination-color: #E57709; 
  --swiper-pagination-bullet-active-width: 61px!important;
}
.swiper-pagination-bullet {
  width: 17px; 
  height: 7px;
}
.swiper-pagination-bullet-active   {
  display: block;
  width: 61px!important;
  width: var(--swiper-pagination-bullet-active-width) !important;
 
}
.swiper-slide-img {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide-img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius:15px;
}
.swiper-pagination{
  bottom:10px;
}

@media(max-width:640px){
  .swiper-wrapper.swiper-wrapper-table{
    margin-bottom: 30px!important;
  }
}


@media (min-width:640px){
  .button.active {
    width:61px;
  }
 
  .btn_slider{
    width:17px;
    margin: 0 5px;
  }
}

///swiper_cmt
.swiper-wrapper.swiper-wrapper-cmt{
  height:350px!important;
  height: revert-layer!important;

}
.swiper_cmt.swiper-container-cmt{
  height:350px !important;
}
#swiper-wrapper-ed3c8f54110c9c8f3{
  height:350px !important;
}
.swiper-slide.swiper-slide-cmt{
  background: #FFFFFF!important;
  width:448px!important;
  height:269px!important;
  border: 1px solid #EBEBEB!important;
  border-sizing:border-box!important;
}
.swiper-slide.swiper-slide-cmt:hover{
  box-shadow: 30px 34px 80px rgba(0, 0, 0, 0.15);
}
.swiper-slide.swiper-slide-cmt img{

      width: 68px!important;
      height: 68px!important;
      max-width:none;
}
@media(max-width:639px){
  .swiper-slide.swiper-slide-cmt{
    width:350px!important;
   
  }
  .swiper_cmt.swiper-container-cmt{
      max-width:360px!important;
  }
}
@media(max-width:1024px){
  .swiper-slide.swiper-slide-cmt{
    height:229px!important;
  }
  .swiper_cmt.swiper-container-cmt{
   
    height:280px!important;
}
}
@media(max-width:1023px){
  .swiper-slide.swiper-slide-cmt img{
    width: 50px!important;
    height: 50px!important;
    max-width:none!important
  
  }
}
.swiper-pagination.swiper-pagination-cmt{
  text-align:left!important;
}
#btn_tabline{
  width:126px;
  display:flex;
  justify-content:space-between;
}
.tabline_item.button {
  width: 17px;
  border-radius: 3.5px;
  background-color: #EBEBEB;
  margin: 0 3px;
  cursor: pointer;
}

.tabline_item.active-cmt {
  background-color: #E57709;
  width: 61px; 
}

.border-gradient-doctor {
  background-clip: padding-box, border-box;
  border: 2px dashed transparent;  
  background-image: linear-gradient(#4CAF50, #4CAF50), linear-gradient(to right, #ff7e5f, #feb47b);
}
.shadow_note_customer{
  box-shadow: 0px 8px 48px 0px #2891CC33;

}
.shadow_offers_icon{
  box-shadow: 0px 10px 24px 0px #2891CC80;

}
// hover info_doctor
.info_doctor_container{
  position:relative;
  transition: transform 0.3s ease;
}
.info_doctor{
  position:absolute;
  bottom:-17%;
  left:0;
  right:0;
  transition: transform 0.3s ease;
  .rate_info_doctor{
    display:none;
   
  }
}
.info_doctor_container:hover {
  box-shadow: 40px 120px 90px rgba(0, 0, 0, 0.1);
}
.info_doctor_container:hover .info_doctor{
  bottom: -17%;
  .rate_info_doctor{
    display:flex;
    flex-direction:column;
   
  }
}

.swiper-container.swiper.info_doctor_swiper{
  width:93%;
  height:500px;
}
@media (min-width:1536px){
  .swiper-container.swiper.info_doctor_swiper{
    width:73.33%;
    
  }
}

.swiper-wrapper.info_doctor_wrapper{
  width: 100%;
  display:flex;
  justify-content:space-between;
  gap: 32px;
}
.swiper-slide.info_doctor_container{
  /* width:328px!important;
  max-width:328px!important; */
  margin-right:0px!important;
  height:382px;
}


@media (max-width: 1536px) {
  .banner_ques {
    overflow-y: auto;
  }
}

@media (min-width: 1536px) {
  .banner_ques {
    height: max-content;
    overflow-y: unset; 
  }
}
@media (min-width: 1536px){
  .banner_ques_mes{
    position:absolute;
  }
}
@media (max-width: 1535px){
  .banner_ques_mes{
    width:90%
  }
}

//swiper img customer vacxin
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide.img_cus_vacxin_swiper {
  text-align: center;
 
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide.img_cus_vacxin_swiper img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.swiper.customer_img_vacxin_swiper,  {
  width: 100%;
  height: 670px;
  margin-left: auto;
  margin-right: auto;
}
.swiper.customer_img_vacxin_swiperTab{
  width:100%;
  height:118px;
}

.swiper-button-next.info_doctor_next{
  position:absolute!important;
  top:94%!important;
  right: -45px!important;
}
.swiper-button-prev.info_doctor_prev{
  position:absolute!important;
  top: 94%!important;
  left: -45px!important;
}

@media(max-width:1024px){
  .swiper.customer_img_vacxin_swiperTab{
    height:80px!important;
  }
}
.swiper-slide {
  background-size: cover;
  background-position: center;
}

.customer_img_vacxin_swiper {
  height: 80%;
  width: 100%;
}

.customer_img_vacxin_swiperTab {
  margin-top: 15px!important;
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.customer_img_vacxin_swiperTab .swiper-slide {
  width: 50%!important;
  height: 100%;
  border-radius:10px;
  
}

@media(min-width:760px){
  .customer_img_vacxin_swiperTab .swiper-slide{
    width: 25%!important;
  }
}



.customer_img_vacxin_swiperTab .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-slide.swiper_img_vacxin .img {
  display: block;
  width: 100%;
  height: 200px!important;
  object-fit: cover;
}
@media (min-width:640px){
  .swiper-slide.swiper_img_vacxin .img{
    height: 350px!important;
  }
 
  
}
@media (min-width:1024px){
  .swiper-slide.swiper_img_vacxin .img{
    height: 500px!important;
  }
 
}
@media (min-width:1536px){
  .swiper-slide.swiper_img_vacxin .img{
    height: 670px!important;
  }
  
}
.swiper-slide.swiper_img_vacxin .imgTab {
  display: block;
  width: 100%;
  height: 118px!important;
  object-fit: cover;
}
@media (max-width:1024px){
  .swiper-slide.swiper_img_vacxin .imgTab{
    height:80px!important;
  }
}
.customer_img_vacxin_swiper{
  .swiper-wrapper{
    .swiper-slide{
      img{
        border-radius:20px;

      }
    }
  }
}
.customer_img_vacxin_swiperTab{
  .swiper-wrapper{
    .swiper-slide{
      img{
        border-radius:10px;
        
      }
    }
  }
}
.swiper-button-next:after, .swiper-button-prev:after {
  display:none!important;
}
.swiper-button-prev.info_doctor_prev svg{
  color:  #2891CC!important;
}
.swiper-button-next.info_doctor_next svg{
  color:  #2891CC!important;
}
.swiper-button-prev.info_doctor_prev svg:hover{
  transition: fill 0.3s ease, border 0.3s ease, color 0.3s ease;
  circle{
    fill:#4EBEFF;
    stroke:#4EBEFF
  }
  path{
    stroke:#FFF;
  }
}
.swiper-button-next.info_doctor_next svg:hover{
  transition: fill 0.3s ease, border 0.3s ease, color 0.3s ease;
  circle{
    fill:#4EBEFF;
    stroke:#4EBEFF
  }
  path{
    stroke:#FFF;
  }
}

@media(min-width:1536px){
  .customer_img_vacxin_swiperTab .swiper-slide{
    width: 13.7%!important;
  }
}
/* .swiper-button-prev,
.swiper-button-next {
    display: none!important; 
} */
.custom-button {
  background: transparent; 
  border: none; 
  cursor: pointer; 
  width: 36px; 
  height: 36px;
}
.custom-button svg {
  width: 100%; 
  height: 100%;
}
.swiper-slide.swiper_img_vacxin{
  height: fit-content!important;
}
.wiper_cus_img_container.customer_img_vacxin_swiperTab{
  height: fit-content!important;
}

.bg_gradient_info-doctor{
  background: linear-gradient(0deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
}


///////
.swiper-slide.img_cus_vacxin_swiper{
  display:flex !important;
}


.swiper-wrapper.swiper-wrapper_img-cus-vacxin{

  height: 350px!important;
  .swiper_cus_img_vacxin-shadow{
    box-shadow: 0px 0px 40px 0px #00000014 !important;
    bottom:-60px
  }
}
.swiper-slide.img_cus_vacxin_swiper{
  height: 276px!important;
}
.swiper-button-next.cus_test_img_next, .swiper-button-prev.cus_test_img_prev {
  
  top: var(--swiper-navigation-top-offset,42%);
}
@media(max-width: 640px){
  .swiper-wrapper.swiper-wrapper_img-cus-vacxin{
    height: 180px!important;
  }
  .swiper-slide.img_cus_vacxin_swiper{
    height: 140px!important;
  }
  .swiper-wrapper.swiper-wrapper_img-cus-vacxin{

   
    .swiper_cus_img_vacxin-shadow{
      
      bottom:-27px
    }
  }
}

//
.swiper-button-prev..offers_vacxin_prev, .swiper-rtl .swiper-button-next..offers_vacxin_next {
  left: var(--swiper-navigation-sides-offset, 0px)!important;
  right: auto;
}


.swiper-button-prev.offers_vacxin_prev{
  position:absolute!important;
  left: 0px!important;
}

.swiper-button-next.offers_vacxin_next{
  position: absolute!important;
  right: 0px!important;
 }
.swiper_slide_offers_vacxin.swiper-slide{
  background: #ECF3F6!important;
}
.swiper-button-prev.offers_vacxin_prev svg:hover{
  transition: fill 0.3s ease, border 0.3s ease, color 0.3s ease;
  circle{
    fill:#4EBEFF;
    stroke:#4EBEFF
  }
  path{
    stroke:#FFF;
  }
}
.swiper-button-next.offers_vacxin_next svg:hover{
  transition: fill 0.3s ease, border 0.3s ease, color 0.3s ease;
  circle{
    fill:#4EBEFF;
    stroke:#4EBEFF
  }
  path{
    stroke:#FFF;
  }
}
.swiper_slide_offers_vacxin.swiper-slide.swiper-slide-active{
  background: linear-gradient(135deg, #4EBEFF 0%, #0679BB 100%)!important;

}
.swiper_slide_offers_vacxin.swiper-slide.swiper-slide-visible.swiper-slide-fully-visible.swiper-slide-active {
  background: linear-gradient(135deg, #4EBEFF 0%, #0679BB 100%);
  transition: 500ms;
  box-shadow: 0px 8px 40px 0px #2891CC66!important;

  .button_offers{
    button{
      background: linear-gradient(135deg, #FFFFFF 0%, #FFFFFF 100%);
      color: #2891CC!important;
    }
    
  }
  .offers_price_old{
    color: #ECF3F6;
  }
  .offers_price_new{
    color: #FFFFFF;
  }
  .offers_title{
    color: #FFFFFF;
  }
  .text_offers_vacxin{
    svg path{
      stroke:#FFFFFF;
    }
    p{
      color: #FFFFFF;
    }
  }
 


}
////

.shape_vacxin_container {
  position: relative;
  width: 1920px;
  height: 264px;
  background-color: #fff;
}

.shape_vacxin {
  position: absolute;
  top: 40px; 
  width: 100%;
  height: 120px; 
  background-color: white;
  border-radius: 100px 0 0 0;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.08);
}

/* Shadowing and Gaussian Blur effect */
.shape_vacxin::before {
  content: '';
  position: absolute;
  top: -20px;
  left: -20px;
  right: -20px;
  bottom: -20px;
  border-radius: inherit;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
  z-index: -1;
}
.shadow_shape_vacxin{
  box-shadow: 0px 0px 40px 0px #00000014;

}
.shadow_shape_vacxin_item{
  box-shadow: 0px 0px 40px 0px #00000014;

}
/////cus_test_swiper_video

.swiper-button-next.cus_test_img_next{
  z-index:50!important;
  position: absolute!important;
  right: 0px!important;
}
.swiper-button-prev.cus_test_img_prev{
  z-index:50!important;
  position: absolute!important;
  left: 0px!important;
}
.swiper-button-next.swiper-button-disabled.cus_test_img_next, .swiper-button-prev.swiper-button-disabled.cus_test_img_prev {
  opacity: 1!important;
  cursor: auto;
  pointer-events: none;
}
.swiper-button-next, .swiper-rtl .swiper-button-prev {
  right: var(--swiper-navigation-sides-offset, 0px)!important;
  left: auto;
}
.swiper.cus_test_swiper_container.cus_test_swiper{
  z-index:30!important;
}
///
.modal {
 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  z-index: 1000;
  transition: opacity 0.3s ease;
  opacity: 1;
}

.modal-content {
  position: relative;
  width: 80%;
  transition: opacity 0.3s ease;
  max-width: 600px;
}
.close {
  transition: opacity 0.5s ease;
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  font-size: 24px;
  cursor: pointer;
}
iframe {
  transition: opacity 0.3s ease;
  width: 100%;
  height: 315px;
}
///////
.proctect_yourself_img img{
 object-fit: cover;
}

.shadow_table_register{
  box-shadow: 8px 12px 64px 0px #0000000F;

}
.table_register{
  form{
    width:40.313rem;
    display:flex;
    flex-direction:column;
    gap: 1rem;
    input{
      border-radius: 0.313rem;
      padding-left: 1.125rem;
      background:#F5F5F5;
      width:100%;
      min-height: 2.875rem;
     
    }
    textarea{
      border-radius: 0.313rem;
      padding-top: 0.813rem;
      padding-left: 1.125rem;
      background:#F5F5F5;
      min-height: 5rem;
    }
    div{
      margin-top:1rem;
      display:flex;
      justify-content:center;
    }
  }
}
@media(max-width:1535px){
  .table_register{
    form{
      width: 90%;
      input{
        min-height: 4.875rem;
      }
      textarea{
        min-height: 6rem;

      }
    }
  }
}
@media(max-width:640px){
  .table_register{
    form{
     
      input{
        min-height: 3.875rem;
      }
      textarea{
        min-height: 5rem;

      }
    }
  }
}
.table_register input:focus,
.table_register textarea:focus {
    border-color:#4EBEFF; 
    outline: none; 
}
////footer

.img_footer_group img{
  object-fit:contain;
}
@media(max-width:1280px){
  .grid_footer{
    .grid_footer_inf{
      grid-column:1;
      grid-row:1;
    }
    .grid_footer_time{
      grid-column:2;
      grid-row:1;
    }
    .grid_footer_phone{
      grid-column:1;
      grid-row:2;
    }
    .grid_footer_social{
      grid-column:2;
      grid-row:2;
    }

  }
  
}

@media(max-width:640px){
  .grid_footer{
    .grid_footer_inf{
      grid-column:1;
      grid-row:1;
    }
    .grid_footer_time{
      grid-column:1;
      grid-row:2;
    }
    .grid_footer_phone{
      grid-column:1;
      grid-row:3;
    }
    .grid_footer_social{
      grid-column:1;
      grid-row:4;
    }

  }
  
}