
.top-menu-expanded{
    position:absolute;
   
    z-index:50;
    right:0px;
    padding-left: 25px;
    background-color: white;
    display:flex;
    flex-direction: column;
    li{
      padding: 20px 0;
      border-bottom: 1px inset;
      width: 100%;
    }
    .phone_menu_header{
      width:100%;
      display:flex;
      justify-content: start;
      padding:10px 0px;
      border-bottom: 1px inset;
    }
}

.header{
  z-index:100!important;
}
.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 49;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0s linear 0.3s;
}
.toggle-content{
  display:block;
}
.menu-expanded .menu-overlay {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s; 
  width:100%;
  height:100%;
}
.header-shadow {
    box-shadow: 0px 6px 40px 0px rgba(0, 0, 0, 0.08); 
  }

.phone_shadow{
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); 
}
  .inside-circle-shadow{
    box-shadow: 4px 6px 16px 0px #00000059;

    .outside-circle-shadow{
      box-shadow: 0px 0px 16px 0px #00000059;

    }
  }
  .like_shadow{
    box-shadow: 0px 8px 40px 0px #00000026;

  }
  .border_gradient{
    border-image: linear-gradient(to right, #2891CC, #0A9949) 1;
  }
  .shadow_bottom_page{
    backdrop-filter: blur(200px)

  }
  @media(min-width: 360px){
    .top-menu-expanded{
      top:60px;
      width:100%
    }
  }
  @media(min-width: 768px){
    .top-menu-expanded{
      top:81px;
      width:50%
    }
  }
  
  @media(min-width: 1024px){
    .top-menu-expanded{
      top:81px;
      width:50%
    }
  }
 
  @media(min-width: 0px){
    .section_banner-text{
      margin-left: 15px;
    }
  }
  
  @media(min-width: 1280px){
    .section_banner-text{
      margin-left: 30px;
    }
  }
  @media(min-width: 1280px){
    .section_banner-text{
      margin-left: 45px;
    }
  }
 
  
  @media(min-width: 1920px){
    .section_banner-text{
      margin-left: 100px;
    }
  }


  
@media (min-width: 350px){
  .text_vaccination{
    padding-right:0px;
  }
}
@media (min-width: 1280px){
  .text_vaccination{
    width:450px;
  }
}
@media (min-width: 1536px){
  .text_vaccination{
    width:500px;
  }
}
@media (min-width: 1820px){
  .text_vaccination{
    width:500px;
  }
}

@media (min-width: 1536px){
  .vaccination_left{
    margin-left: 200px;
  }
}
@media (min-width: 1820px){
  .vaccination_left{
    margin-left: 248px;
  }
}
.customer-benifits_text{
  p{
    line-height: 20px;
  }
}
.shawdow_btn_phoneCustomer{
  box-shadow: 0px 8px 16px 0px rgba(229, 119, 9, 0.35);

}
.shadow_table{
  box-shadow: 8px 12px 40px 0px #0000001A;

}
.header_menu{
  li {
    cursor: pointer;
    font-weight: 700;
    font-size: 13px;
    color: #252525;
    transition: color 0.3s ease-in-out;
    position: relative;
    
    
  }
}
@media (min-width: 1536px) {
    .header_menu li {
        font-size: 16px;
        line-height:19px;
    }
}

.header_menu{

li:hover {
  background-clip: text;
  background-image: linear-gradient(to bottom, #4EBEFF, #0679BB);
  color: transparent;
  transition: color 0.3s ease-in-out, background-image 0.3s ease-in-out;
}

}


.header_menu li::after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 0;
  width: 0;
  background-image: linear-gradient(to bottom, #4EBEFF, #0679BB) !important;
  transition: width 0.3s ease-in-out, height 0.3s ease-in-out;

}

@media (min-width: 1280px) {
  .header_menu li::after {
    bottom: -31px;
    border-top-left-radius: 0.094rem;
    border-top-right-radius: 0.094rem;
    height: 0.25rem;
  }
}

.header_menu li:hover::after {
    width: 50%;
}

.swiper-button-next, .swiper-button-prev {
  display: none !important;
}
.swiper-slide-img {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide-img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.controls {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}


.btn_slider {
  width:15px;
  border-radius: 3.5px;
  background-color: #EBEBEB;
  margin: 0 3px;
  cursor: pointer;
}

.button.active {
  background-color: #E57709;
  width:30px;
}
@media (min-width:640px){
  .button.active {
    width:61px;
  }
 
  .btn_slider{
    width:17px;
    margin: 0 5px;
  }
}
// slider comment

.swiper-container-cmt {
  width: 100%;
  height: auto;
  padding: 20px;
}

.swiper-slide-cmt {
  max-width:448px;
  text-align: left;
  font-size: 16px;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 24px;
  border-radius: 15px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.swiper-slide-cmt img {
  display: block;
  width: 68px;
  height: 68px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}
.swiper-slide-cmt p{
  max-width:400px;
}

// btn cmt
#btn_tabline{
  width:126px;
  display:flex;
  justify-content:space-between;
}
.tabline_item.button {
  width: 17px;
  border-radius: 3.5px;
  background-color: #EBEBEB;
  margin: 0 3px;
  cursor: pointer;
}

.tabline_item.active-cmt {
  background-color: #E57709;
  width: 61px; 
}

